package ${package_name}.rpc.api;

import com.hqh.mybatis.base.BaseServiceMock;
import ${package_name}.dao.mapper.${model}Mapper;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* 降级实现${model}Service接口
*/
public class ${model}ServiceMock extends BaseServiceMock<${model}Mapper, ${model}, ${model}Example,${modelIdType}> implements ${model}Service {

}
